/* Nav bar */
header {
    padding: 10px;
}

.flexCenter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.searchSpace {
    width: 25%;
    border: 1px solid black;
    padding: 5px;
}

.mobileSearchSpace {
    border: 1px solid black;
    width: 90%;
    padding: 10px;
    border-radius: 20px;
}

.filterBtn {
    border: 1px solid black;
    padding: 7px;
    border-radius: 50%;
}

/* Footer */
.mobileFooter  {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: pink;
    transition: transform 0.3s ease;
}

.mobileFooter.visible {
    transform: translateY(0);
}

.mobileFooter.hidden {
    transform: translateY(100%);
}

.desktopFooter {
    background-color: green;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Media */
@media (max-width: 600px) {
    .desktopOnly {
        display: none;
    }
}

@media (min-width: 601px) {
    .mobileOnly {
        display: none;
    }
}
